body{
    background: #E6CCA6 url(/images/wood.png) repeat fixed;
}
.form-footer{

    background: #F5F5F5 url(/images/foobg.png) top left repeat-x !important;
}
.smart-forms .checkbox, .smart-forms .radio {
    position: relative;
    margin-right: 2px;
    background: #fff;
    display: inline-block !important;
    border: 3px solid #CFCFCF;
    margin-bottom: 0;
    margin-top: 0;
    height: 21px;
    width: 21px;
    top: 4px;
}